
TPI Programacion - Ludo/.vs/TPI Programacion - Ludo/v17/.suo
*.dll
TPI Programacion - Ludo/.vs/TPI Programacion - Ludo/v17/.suo
TPI Programacion - Ludo/bin/Debug/net6.0-windows/TPI Programacion - Ludo.pdb
TPI Programacion - Ludo/obj/Debug/net6.0-windows/TPI Programacion - Ludo.csproj.GenerateResource.cache
TPI Programacion - Ludo/obj/Debug/net6.0-windows/TPI Programacion - Ludo.dll
TPI Programacion - Ludo/obj/Debug/net6.0-windows/TPI Programacion - Ludo.pdb
TPI Programacion - Ludo/obj/Debug/net6.0-windows/TPI_Programacion___Ludo.FormularioPresentacion.resources
